[user]
    email = adibbinhaider@gmail.com
    name = Adib Haider

[rebase]
    updateRefs = true

[alias]
    cleanup = "!git fetch -p && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -D"
